@media screen and (max-width: 768px) {
    :root {
        --width: 90%;
        --font-header: 18px;
        --font-medium: 14px;
        --font-small: 10px;
        --font-super: 3rem;

    --section-title-fontSize:1.2rem;
    --section-padding:30px 0;

    }

    /* Centering and responsive alignment */
    .header-content img {
        /* margin: auto; */
        display: block;
    }

    .banner-section .wrapper .child-1 .hero-text {
        /* font-size: 3.2rem; */
        /* color: #000000; */
        line-height: 3.5rem;
        /* border-bottom: 3px solid #ffffff; */
    }

    .banner-section .wrapper .child-1 .hero-text__smallText {
        color: #ffffff;
    }

    .banner-section .wrapper {
        grid-template-columns: 1fr;
    }
    .grid-container {
        margin-top: 10px;
    }
    .child-2--container {
        margin-left: unset;
    }

    

    .text-content,
    .logo-content,
    .center-content {
        text-align: center;
    }

    .text-content {
        font-size: 0.75rem;
        line-height: 1rem;
    }
    

    .grid-container::before {
        display: none;
    }
    .admission__emi-topContainer,.admission__payment  {
        padding: 20px;
    }

    .admission__emi-logos {
        flex-direction: column;
        align-items: start;
    }
    .admission__payment-methods {
        flex-direction: column;
        align-items: start;
    }
    .criteria__tabs {
        gap: 15px;
        flex-direction: column;
    }
    .criteria__item {
        line-height: 12px;
    }
    .certification {
        background: unset;
    }

    #slider-accreditations-prev{
        left: -10px;
        
    }

    #slider-accreditations-next{
        right: -10px;
    }

    .program-content-tabs {
        grid-template-columns: 1fr;
    }
    .certification__image {
        width: 100%;
    }
    
}
@media (min-width: 1024px) {
    
  
    .certification__description {
      font-size: 18px;
    }
  }